name: API to (1) Dev

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

on:
  push:
    branches:
      - staging

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - run: echo "$GITHUB_CONTEXT"

      - name: Repository dispatch test
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH }}
          repository: ${{ github.repository }}
          event-type: trigger-web-dev
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'

