name: Get release info

on:
  workflow_dispatch:

jobs:
  get_release_info:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch release info
        uses: abatilo/release-info-action@v1.3.0
        id: release_info
        with:
          owner: IanKWatts
          repo: test10

      - name: Use release info
        run: |
          echo "--> ${{ steps.release_info.outputs.tag_name }}"
          echo "--> ${{ steps.release_info.outputs.draft }}"
          echo "--> ${{ steps.release_info.outputs.html_url }}"
          echo "--> ${{ steps.release_info.outputs.author.login }}"


