name: Manual Action Test 2
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to OpenShift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_URL }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          insecure_skip_tls_verify: true
          namespace: ${{ secrets.OPENSHIFT_NAMESPACE }}
      - name: Testing oc...
        run: |
          oc version
          oc get projects
          oc start-build test10 --follow -n iankwatts-tools
          oc tag -n iankwatts-tools test10:latest test10:$(oc get -o=jsonpath="{.spec.revision.git.commit}" build test10-$(oc get -o=jsonpath="{.status.lastVersion}" buildconfig test10)) test10:test
