name: Artifactory testing

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

on:
  workflow_dispatch:

jobs:
  artifactory-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Update tt
        run: echo "master_key: asdf" >> tt

      - name: Create ENV var
        run: echo ARTIFACTORY_VERSION=\"`grep ^Fri tt | awk '{ print $2 }'`\" >> $GITHUB_ENV

      - name: Show ENV var
        run: echo "--> ${{ env.ARTIFACTORY_VERSION }}"

      - name: Generate master_key
        run: echo MASTER_KEY=\"`openssl rand -hex 32`\" >> $GITHUB_ENV

      - name: Test sed
        run: sed -i 's/^master_key:.*/master_key: ${{ env.MASTER_KEY }}/' tt

