name: Artifactory testing

on:
  push:
    branches:
      - main
    paths:
      - "web/**"
  workflow_dispatch:
  release:
    types: [published]

jobs:
  artifactory-tesitng:
    runs-on: ubuntu-latest
    env:
      FILE_STAGING_DIR: /tmp
      ARTIFACTORY_LICENSE_FILE: artifactory_license.txt
      OCP_PROJECT_NAME: devops-artifactory
    steps:
      - uses: actions/checkout@v2

      - name: Prepare KLAB params
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        run: |
          echo ARTIFACTORY_LICENSE=\"${{ secrets.KLAB_ARTIFACTORY_LICENSE }}\" >> $GITHUB_ENV

      - name: Prepare PROD params
        if: ${{ github.event_name == 'release' }}
        run: |
          echo ARTIFACTORY_LICENSE=\"${{ secrets.SILVER_ARTIFACTORY_LICENSE }}\" >> $GITHUB_ENV

      - name: Generate master_key
        run: echo MASTER_KEY=\"`openssl rand -hex 32`\" >> $GITHUB_ENV

      - name: Review
        run: |
          echo "ARTIFACTORY_LICENSE: ${{ env.ARTIFACTORY_LICENSE }}"
          echo "MASTER_KEY: ${{ env.MASTER_KEY }}"

