name: Test project

on:
  workflow_dispatch:

jobs:
  do_ocp:
    runs-on: ubuntu-latest
    env:
      OCP_PROJECT_NAME: iankwatts-tools
    steps:
      - name: OCP login
        run: |
          oc version
          oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=${{ secrets.OPENSHIFT_URL }}
          oc project ${{ env.OCP_PROJECT_NAME }}

      #- name: Debug
      #  if: ${{ failure() }}
      #  run: echo "Error - exiting" && exit 1

      - name: Project check
        run: |
          echo "::set-output name=oc-project::$(oc project)"
        id: oc-project
        
      - name: Debug
        run: echo "--> ${{ env.oc-project }}"

      - name: Okay
        run: echo "Okay"

