name: Artifactory testing

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

on:
  workflow_dispatch:

jobs:
  artifactory-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create ENV var
        run: echo ARTIFACTORY_VERSION=\"`grep ^Fri tt | awk '{ print $2 }'`\" >> $GITHUB_ENV

      - name: Show ENV var
        run: echo "--> ${{ env.ARTIFACTORY_VERSION }}"

      - name: Add to file
        run: |
          printf "master_key: qwerty\n" >> tt
          printf "version: 1.0\n" >> tt

      - name: Generate master_key
        run: echo MASTER_KEY=`openssl rand -hex 32` >> $GITHUB_ENV

      - name: Test sed
        run: |
          sed -i "s/^master_key:.*/master_key: ${{ env.MASTER_KEY }}/" tt
          sed -i "s/^join_key:.*/join_key: ${{ env.MASTER_KEY }}/" tt
          sed -i "s/^version:.*/version: ${{ env.ARTIFACTORY_VERSION }}/" tt

      - name: Show tt
        run: cat tt

