name: Artifactory testing

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

on:
  workflow_dispatch:

jobs:
  artifactory-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create ENV var
        run: echo ARTIFACTORY_VERSION=\"`grep ^Fri tt | awk '{ print $2 }'`\" >> $GITHUB_ENV

      - name: Show ENV var
        run: echo "--> ${{ env.ARTIFACTORY_VERSION }}"
