name: Test action failure

on:
  workflow_dispatch:

jobs:
  do_ocp:
    runs-on: ubuntu-latest
    env:
      OCP_PROJECT_NAME: iankwatts-tools
    steps:
      - name: OCP login
        run: |
          oc version
          oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=${{ secrets.OPENSHIFT_URL }}
          oc project {{ env.OCP_PROJECT_NAME }}

      - name: Debug
        if: ${{ failure() }}
        run: echo "Error - exiting" && exit 1
        
      - name: Okay
        run: echo "Okay"

