name: Test project

on:
  workflow_dispatch:

jobs:
  do_ocp:
    runs-on: ubuntu-latest
    env:
      OCP_PROJECT_NAME: iankwatts-tools
      ARTIFACTORY_VERSION: 7.1.10
    steps:
      #- name: OCP login
      #  run: |
      #    oc version
      #    oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=${{ secrets.OPENSHIFT_URL }}
      #    oc project ${{ env.OCP_PROJECT_NAME }}

      #- name: Debug
      #  if: ${{ failure() }}
      #  run: echo "Error - exiting" && exit 1

      - name: Create release draft
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.PAT }}
          draft: false
          name: "artifactory-${{ env.ARTIFACTORY_VERSION }}"
          allowUpdates: true
          omitBody: true
          tag: artifactory

