name: Test subs

on:
  workflow_dispatch:

jobs:
  test_subs:
    runs-on: ubuntu-latest
    env:
      DOCKER_REMOTE_ID: id1
      DOCKER_REMOTE_PASSWORD: password1
      REDHAT_DOCKER_REMOTE_ID: rhid1
      REDHAT_DOCKER_REMOTE_PASSWORD: rhpassword1
    steps:
    - name: setup
      run: |
        echo "  - { key: 'docker-remote', username: 'xxxxxxxxxxxx', password: 'xxxxxxxxxxxx' }" > vars.yml
        echo "  - { key: 'redhat-docker-remote', username: 'xxxxxxxxxxxx', password: 'xxxxxxxxxxxx' }" >> vars.yml

    - name: sed
      run: |
        sed -i "s|key: 'docker-remote'.*|key: 'docker-remote', username: '${{ env.DOCKER_REMOTE_ID }}', password: '${{ env.DOCKER_REMOTE_PASSWORD }}'|" vars.yml
        sed -i "s|key: 'redhat-docker-remote'.*|key: 'redhat-docker-remote', username: '${{ env.REDHAT_DOCKER_REMOTE_ID }}', password: '${{ env.REDHAT_DOCKER_REMOTE_PASSWORD }}'|" vars.yml

    - name: cat file
      run: cat vars.yml

