name: Run when release

on:
  workflow_dispatch:
  release:
    types: [published, created, released]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Install to Prod
        run: echo "Installing Artifactory to Prod..."

