name: Test paths for clusters

on:
  #workflow_dispatch:
  #  inputs:
  #    cluster:
  #      description: "Enter cluster to install Artifactory to [ klab, clab, silver, gold ]: "
  #      required: true
  #      default: KLAB
  push:
    branches:
      - main
    paths:
      - "paths/test_*"

jobs:
  check_paths:
    runs-on: ubuntu-latest
    outputs:
      klab: ${{ steps.filter.outputs.klab }}
      clab: ${{ steps.filter.outputs.clab }}
      silver: ${{ steps.filter.outputs.silver }}
      gold: ${{ steps.filter.outputs.gold }}
    steps:
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          klab: "paths/test_klab"
          clab: "paths/test_clab"
          silver: "paths/test_silver"
          gold: "paths/test_gold"

  test1:
    needs: check_paths
    runs-on: ubuntu-latest
    steps:
      - name: Do KLAB
        if: ${{ needs.check_paths.outputs.klab == 'true' }}
        run: echo "--> KLAB"
      - name: Do CLAB
        if: ${{ needs.check_paths.outputs.clab == 'true' }}
        run: echo "--> CLAB"
      - name: Do SILVER
        if: ${{ needs.check_paths.outputs.silver == 'true' }}
        run: echo "--> SILVER"
      - name: Do GOLD
        if: ${{ needs.check_paths.outputs.gold == 'true' }}
        run: echo "--> GOLD"

