name: Artifactory testing

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

on:
  workflow_dispatch:

jobs:
  artifactory-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create ENV var
        run: echo ARTIFACTORY_VERSION=`grep ^Fri tt | awk '{ print $2 }'` >> $GITHUB_ENV

      - name: Show ENV var
        run: echo "--> ${{ env.ARTIFACTORY_VERSION }}"

      - name: Add to file
        run: |
          printf "master_key: qwerty\n" >> tt
          printf "version: 1.0\n" >> tt

      - name: Create license file
        run: |
          printf "${{ secrets.KLAB_ARTIFACTORY_LICENSE }}\n" > klab.lic
          printf "${{ secrets.SILVER_ARTIFACTORY_LICENSE }}\n" > silver.lic

      - name: Generate master_key
        env:
          TT: "this is TT"
        run: echo MASTER_KEY=\"`openssl rand -hex 32`\" >> $GITHUB_ENV

      - name: Test sed
        run: |
          sed -i 's/^master_key:.*/master_key: ${{ env.MASTER_KEY }}/' tt
          sed -i 's/^join_key:.*/join_key: ${{ env.MASTER_KEY }}/' tt
          sed -i 's/^version:.*/version: ${{ env.ARTIFACTORY_VERSION }}/' tt

      - name: Show tt
        run: cat tt

      - name: Make KLAB license file
        if: ${{ env.ARTIFACTORY_VERSION == '7' }}
        run: cp klab.lic artifactory.lic

      - name: Make SILVER license file
        if: ${{ env.ARTIFACTORY_VERSION == '8' }}
        run: cp silver.lic artifactory.lic

      - name: Show license
        run: cat artifactory.lic

