name: Artifactory testing

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

on:
  push:
    branches:
      - main
    paths:
      - "web/**"
  workflow_dispatch:
  release:
    types: [published]

jobs:
  artifactory-tesitng:
    if: |
      (github.event_name == 'release' && contains(github.event.release_name, 'artifactory-ha')) ||
      github.event_name != 'release'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      #- name: If artifactory release
      #  if: "!contains(github.event.release.name, 'artifactory-ha')"
      #  run: echo "Not an artifactory release, exiting"; exit 0

      - name: Show ENV
        run: echo "${{ env.GITHUB_CONTEXT }}"

