name: Web app to (1) Dev

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

# Create a new build and tag it with 'dev' when the staging branch is updated,
# whether by pull request merge or directly.  Should be done by pull request.
# ----------------------------------------------------------------------------
on:
  #push:
  #  branches:
  #    - staging
  #    - 'release/*'
  #repository_dispatch:
  #  types: [trigger-web-dev]
  workflow_dispatch:
    inputs:
      buildConfig:
        description: 'Enter Build Config'
        required: true
        default: platsrv-registry-web-dev-build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      #- run: echo "$GITHUB_CONTEXT"
      #- run: echo "${{ github.ref }}"
      #- name: Get date
      #  id: get_date
      #  run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
      #- name: Use date variable
      #  run: echo $RELEASE_NAME
      #  env:
      #    RELEASE_NAME: release/${{ steps.get_date.outputs.date }}

      #- name: Log in to OpenShift
      #  uses: redhat-actions/oc-login@v1
      #  with:
      #    openshift_server_url: ${{ secrets.OPENSHIFT_URL }}
      #    openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
      #    insecure_skip_tls_verify: true
      #    namespace: ${{ secrets.OPENSHIFT_NAMESPACE }}

      # Build the image
      # Get its build ID
      # Get the commit ID of that build
      # Tag the new build with both the commit ID and "dev"
      # ---------------------------------------------------
      - name: Build and tag the image
        run: |
          find / -type f -name oc
          echo ""
          date
          echo ""
          oc version
          echo ""
