name: Web app to (3) Prod

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

# When a PR from staging to master is merged, tag the 'test' image for 'prod'.
# ----------------------------------------------------------------------------
on:
  workflow_dispatch:
    inputs:
      releaseComment:
        description: 'Enter a brief description of this release'
        required: true

jobs:
  promote:

    # Only migrate from Test to Prod if the push is from the staging branch
    # ---------------------------------------------------------------------
    #if: github.event.pull_request.head.ref == 'refs/heads/staging' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:

      - name: Log in to OpenShift
        run: |
          oc version
          oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=${{ secrets.OPENSHIFT_URL }}
          oc get pod asdf

      - name: Run if first step was successful
        if: ${{ success() }}
        run: echo SUCCESS

      - name: Run if first step was not successful
        if: ${{ failure() }}
        run: echo FAILURE


      # Tag the 'test' image for 'prod'
      # -------------------------------
      #- name: Tag image with 'prod'
      #  run: |
      #    oc version
      #    oc tag -n iankwatts-tools test10:test test10:prod

      #- run: export DATE=$(date +%Y-%m-%d)
      #- run: export RELEASE_LABEL="release-$DATE"
      #- run: echo $RELEASE_LABEL

      #- name: Tag the commit
      #  uses: actions/github-script@v3
      #  with:
      #    github-token: ${{ secrets.REPO_TOKEN }}
      #    script: |
      #      github.git.createRef({
      #        owner: context.repo.owner,
      #        repo: context.repo.repo,
      #        ref: "refs/tags/tagname",
      #        sha: context.sha
      #      })

      #- name: 
      #  run: |
      #    oc version
      #    oc login --token=${{ secrets.OpenShiftToken }} --server=${{ secrets.OpenShiftServerURL }}
      #    oc -n platform-registry-tools start-build ${{ github.event.inputs.buildConfig }} --follow
      #    export BUILDID="$(oc -n platform-registry-tools get -o=jsonpath="{.status.lastVersion}" buildconfig ${{ github.event.inputs.buildConfig }})"
      #    export COMMITID="$(oc -n platform-registry-tools get -o=jsonpath="{.spec.revision.git.commit}" build ${{ github.event.inputs.buildConfig }}-$BUILDID | cut -c1-7)"
      #    export IMAGESHA="$(oc -n platform-registry-tools get -o=jsonpath="{.status.output.to.imageDigest}" build ${{ github.event.inputs.buildConfig }}-$BUILDID)"
      #    oc -n platform-registry-tools tag platsrv-registry-web@$IMAGESHA platsrv-registry-web:$COMMITID platsrv-registry-web:dev

      #- name: Tag the commit
      #  uses: actions/github-script@v3
      #  with:
      #    script: console.log(context)



