name: Web app to (3) Prod

env:
  GITHUB_CONTEXT: ${{ toJson(github) }}

# When a PR from staging to master is merged, tag the 'test' image for 'prod'.
# ----------------------------------------------------------------------------
on:
  push:
    branches:
      - main

jobs:
  build:

    # Only migrate from Test to Prod if the push is from the staging branch
    # ---------------------------------------------------------------------
    #if: github.event.pull_request.head.ref == 'refs/heads/staging' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:

      - run: echo "$GITHUB_CONTEXT"

      - name: Log in to OpenShift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_URL }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          insecure_skip_tls_verify: true
          namespace: ${{ secrets.OPENSHIFT_NAMESPACE }}

      # Tag the 'test' image for 'prod'
      # -------------------------------
      - name: Tag image with 'prod'
        run: |
          oc version
          oc tag -n iankwatts-tools test10:test test10:prod

